@media only screen and (max-width: 764px) {
  .tabs {
    position: unset !important;
    text-align: center;
    margin: 54px auto !important;
    border-radius: 29px !important;
    padding: 13px;
  }
}